@page
@model test.Pages.Driver.DriverPageModel
@{
}
<br>
<h2>List of Vechile Drivers</h2>
<a class='btn btn-primary btn-sm' href='/Driver/AddDriver'>New Driver</a>
<table class="table">
	<thead>
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Licence Number</th>
			<th>Mobile</th>
			<th>Email</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var dv in Model.Drivers)
		{
			<tr>
				<td>@dv.name</td>
				<td>@dv.surname</td>
				<td>@dv.licenceNumber</td>
				<td>@dv.phoneNumber</td>
				<td>@dv.email</td>
				<td>
					<a class="btn btn-primary btn-sm" href="/Driver/EditDriver?id=@dv.id">Editt</a>
					<a class="btn btn-danger btn-sm" href="/Driver/DeleteDriver?id=@dv.id">Delete</a>
				</td>

			</tr>
		}
	</tbody>
</table>